@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans+Narrow:wght@700&display=swap");
.copy-input {
  display: flex;
  height: 50px;
  align-items: center;
  border: 1px solid #0d0d0d;
  background-color: #ffffff;
}
.copy-input .value {
  padding: 13px;
  font-family: "PT Mono", monospace;
  border: none;
  outline: none;
  width: 270px;
  font-size: 1em;
}
.copy-input .value::selection {
  background-color: transparent;
}
.copy-input button {
  height: 100%;
  width: 70px;
  border: none;
  background-color: #fffe3b;
  color: #0d0d0d;
  outline: none;
}

.head {
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.head p {
  text-align: center;
  font-size: 1em;
  max-width: 500px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.head img {
  max-height: 20vh;
  max-width: 80vw;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs, .markdown pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.markdown {
  padding: 1em;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.markdown ul {
  list-style: none;
}
.markdown h1 {
  display: none;
}
.markdown li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.markdown p {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.markdown p:first-of-type {
  display: none;
}
.markdown p code {
  background-color: #f5f6fa;
  padding: 5px;
  font-family: "PT Mono", monospace;
}
.markdown pre {
  align-self: stretch;
}
.markdown pre code {
  padding: 15px;
  border-radius: 3px;
  font-family: "PT Mono", monospace;
}
.markdown h2 {
  font-family: "PT Sans Narrow";
  margin-bottom: 20px;
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  color: #591043;
}
.markdown h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fffe3b;
}
.markdown h3 {
  font-family: "PT Sans Narrow";
  margin-bottom: 20px;
  font-size: 1.7em;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  color: #591043;
}
.markdown h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fffe3b;
}
.markdown em {
  font-style: normal;
  font-weight: bold;
}

Footer {
  height: 30vh;
  margin-top: 15vh;
  background-color: #fffe3b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #591043;
}
Footer h2 {
  font-size: 4em;
}
Footer .mascot {
  height: 15vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -93%);
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #0d0d0d;
}

/*# sourceMappingURL=index.css.map */
