@use '../colors';

Footer {
  height: 30vh;
  margin-top: 15vh;
  background-color: colors.$highlight;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$light-black;

  h2 {
    font-size: 4em;
  }

  .mascot {
    height: 15vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -93%);
  }
}
