@use '../../node_modules/highlight.js/scss/atom-one-dark.scss';
@use '../colors';

.markdown {
  padding: 1em;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul {
    list-style: none;
  }
  h1 {
    display: none;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    &:first-of-type {
      display: none;
    }
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;

    code {
      background-color: colors.$background-head;
      padding: 5px;
      font-family: "PT Mono", monospace;
    }
  }

  pre {
    align-self: stretch;

    code {
      @extend .hljs;
      padding: 15px;
      border-radius: 3px;
      font-family: "PT Mono", monospace;
    }
  }

  h2 {
    font-family: "PT Sans Narrow";
    margin-bottom: 20px;
    font-size: 2.5em;
    position: relative;
    display: inline-block;
    color: colors.$light-black;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: colors.$highlight;
    }
  }

  h3 {
    font-family: "PT Sans Narrow";
    margin-bottom: 20px;
    font-size: 1.7em;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    color: colors.$light-black;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: colors.$highlight;
    }
  }

  em {
    font-style: normal;
    font-weight: bold;
  }
}
