@use '../colors';

.markdown {
  padding: 1em;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul {
    list-style: none;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;

    code {
      background-color: colors.$background-head;
      padding: 5px;
      font-family: "PT Mono", monospace;
    }
  }

  em {
    font-style: normal;
    font-weight: bold;
  }
}
